### Variables & Data Types

Variables are used to store data in Python. Python is dynamically typed, meaning you don’t need to declare the type of a variable. Common data types include:
 - int (integers, e.g., 5)
 - float (floating-point numbers, e.g., 3.14)
 - str (strings, e.g., "hello")
 - bool (booleans, e.g., True, False)

In [1]:
x = 10        # int
y = 3.14      # float
name = "Varni" # str
is_active = True  # bool

In [2]:
print(x, y, name, is_active)

10 3.14 Varni True

 - Practice Question

In [3]:
#Q1. Create a variable age with value 25 and print it.

age = 25
print(age)

25

In [4]:
#Q2. Assign a float value 7.5 to a variable weight and convert it to an integer.

weight = 7.5
weight_int = int(weight)
print(weight_int)

7

In [5]:
#Q3. Create a string variable city with value "New York" and print its length using len().

city = "New York"
print(len(city))

8

In [6]:
#Q4. Create a boolean variable is_student set to False and print its type using type()

is_student = False
print(type(is_student))

<class 'bool'>

In [7]:
#Q5. Combine an integer score = 95 and a string subject = "Math" into a single string and print it.

score = 95
subject = "Math"
result = subject + " " + str(score)
print(result)

Math 95

### Operators

Explanation: Operators are used to perform operations on variables and values. Types include:
 - Arithmetic: +, -, *, /, // (floor division), % (modulus), ** (exponent)
 - Comparison: ==, !=, <, >, <=, >=
 - Logical: and, or, not

In [8]:
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)  
print(a ** b)

13
7
30
3.3333333333333335
3
1
1000

In [9]:
x = 5
y = 7 
print(x > y)      
print(x < y)     
print(x <= y)
print(x >= y)      
print(x != y)     
print(x == y)

False
True
True
False
True
False

In [10]:
p = True
q = False
print(p and q)    
print(p or q)     
print(not p)

False
True
False

 - Practice Question

In [11]:
#Q1. Calculate 8 + 3 * 2 and print the result.

result = 8 + 3 * 2
print(result)

14

In [12]:
#Q2. Find the remainder when 17 is divided by 5.

remainder = 17 % 5
print(remainder)

2

In [13]:
#Q3. Check if 10 is greater than 7 and less than 15 using logical and.

result = 10 > 7 and 10 < 15
print(result)

True

In [14]:
#Q4. Compute 2 raised to the power of 4.

power = 2 ** 4
print(power)

16

In [15]:
#Q5. Compare if 25 is not equal to 30 and print the result.

comparison = 25 != 30
print(comparison)

True

### Conditional Statements

Used to execute code based on conditions. 
 - Keywords: if, elif, else.

In [16]:
age = 18
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

In [17]:
score = 85
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
else:
    print("C")

B

In [18]:
x = 10
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Positive

 - Practice Question

In [19]:
#Q1. Check if a number num = 7 is positive and print "Positive".

num = 7
if num > 0:
    print("Positive")

Positive

In [20]:
#Q2. Write a program to check if grade = 75 is A (>=90), B (>=80), or C (<80).

grade = 75
if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
else:
    print("C")

C

In [21]:
#Q3. Check if x = 0 is zero and print "Zero".

x = 0
if x == 0:
    print("Zero")

Zero

In [22]:
#Q4. Determine if temp = 25 is "Hot" (>=30), "Warm" (>=20), or "Cold" (<20).

temp = 25
if temp >= 30:
    print("Hot")
elif temp >= 20:
    print("Warm")
else:
    print("Cold")

Warm

In [23]:
#Q5. Check if a number n = 10 is even or odd.

n = 10
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

### Loops

Loops repeat code. 
 - for (iterate over a sequence)
 - while (repeat until condition is False).

In [24]:
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
count = 0
while count < 3:
    print(count)
    count += 1

0
1
2

In [26]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

 - Practice Question

In [27]:
#Q1. Print numbers from 1 to 5 using a for loop.

for i in range(1, 6):
    print(i)

1
2
3
4
5

In [28]:
#Q2. Use a while loop to print numbers from 10 down to 7.

num = 10
while num >= 7:
    print(num)
    num -= 1

10
9
8
7

In [29]:
#Q3. Print each character of the string "Python" using a for loop.

for char in "Python":
    print(char)

P
y
t
h
o
n

In [30]:
#Q4. Print even numbers from 2 to 10 using a for loop.

for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [31]:
#Q5. Use a while loop to print "Hello" 3 times.

count = 0
while count < 3:
    print("Hello")
    count += 1

Hello
Hello
Hello

### Functions

Functions are reusable blocks of code defined with def. They can take parameters and return values.

In [32]:
def greet():
    print("Hello!")
greet()

Hello!

In [33]:
def add(a, b):
    return a + b
result = add(3, 5)
print(result)

8

In [34]:
def square(num):
    return num ** 2
print(square(4))

16

 - Practice Question

In [35]:
#Q1. Define a function say_hi that prints "Hi there!".

def say_hi():
    print("Hi there!")
say_hi()

Hi there!

In [36]:
#Q2. Create a function multiply that takes two numbers and returns their product.

def multiply(a, b):
    return a * b
print(multiply(4, 5))

20

In [37]:
#Q3. Write a function is_even that checks if a number is even and returns True or False.

def is_even(num):
    return num % 2 == 0
print(is_even(6))

True

In [38]:
#Q4. Define a function max_of_two that returns the larger of two numbers.

def max_of_two(a, b):
    if a > b:
        return a
    return b
print(max_of_two(7, 3))

7

In [39]:
#Q5. Create a function cube that returns the cube of a number.

def cube(num):
    return num ** 3
print(cube(2))

8

### Exception Handling

Used to handle errors gracefully with try, except, else, and finally.

In [40]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

In [41]:
try:
    num = int(input("Enter a number: "))
except ValueError:
    print("Invalid input!")
else:
    print("Success:", num)

Enter a number:  12

Success: 12

In [42]:
try:
    num = int(input("Enter a number: "))
except ValueError:
    print("Invalid input!")
else:
    print("Success:", num)

Enter a number:  ab

Invalid input!

In [43]:
try:
    file = open("test.txt", "r")
except FileNotFoundError:
    print("File not found!")
finally:
    print("Execution complete.")

Execution complete.

 - Practice Question

In [44]:
#Q1. Handle a division by zero error and print "Error!".

try:
    result = 5 / 0
except ZeroDivisionError:
    print("Error!")

Error!

In [45]:
#Q2. Convert a string to an integer and handle invalid input.

try:
    num = int("xyz")
except ValueError:
    print("Not a number!")

Not a number!

In [46]:
#Q3. Try opening a non-existent file "data.txt" and handle the error.

try:
    file = open("data.txt", "r")
except FileNotFoundError:
    print("File not found!")

File not found!

In [47]:
#Q4. Write a program to divide two numbers from user input and handle division by zero.

try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    result = a / b
except ZeroDivisionError:
    print("Cannot divide by zero!")
else:
    print(result)

Enter numerator:  5
Enter denominator:  0

Cannot divide by zero!

In [48]:
#Q5. Use try-except to check if a list index is out of range.

lst = [1, 2, 3]
try:
    print(lst[5])
except IndexError:
    print("Index out of range!")

Index out of range!

### Lists, Tuples, Sets, Dictionaries

 - List: Ordered, mutable collection ([])
 - Tuple: Ordered, immutable collection (())
 - Set: Unordered, unique collection ({})
 - Dictionary: Key-value pairs ({key: value})

In [49]:
# list
my_list = [10, 20, 30, 40]

# Append: Add an element to the end
my_list.append(50)
print(my_list)  

# Extend: Add multiple elements
my_list.extend([60, 70])
print(my_list)  

# Insert: Add at specific index
my_list.insert(2, 25)
print(my_list)  

# Remove: Remove first occurrence
my_list.remove(30)
print(my_list) 

# Pop: Remove and return the last element
print(my_list.pop())  # 70
print(my_list)  

# Index: Find position of an element
print(my_list.index(40))  

# Count: Count occurrences of an element
print(my_list.count(20))  

# Sort: Sort in ascending order
my_list.sort()
print(my_list) 

# Reverse: Reverse the list
my_list.reverse()
print(my_list)  

# Copy: Create a shallow copy
new_list = my_list.copy()
print(new_list)  

# Clear: Remove all elements
my_list.clear()
print(my_list)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 25, 30, 40, 50, 60, 70]
[10, 20, 25, 40, 50, 60, 70]
70
[10, 20, 25, 40, 50, 60]
3
1
[10, 20, 25, 40, 50, 60]
[60, 50, 40, 25, 20, 10]
[60, 50, 40, 25, 20, 10]
[]

In [50]:
# Tuple
my_tuple = (10, 20, 30, 20, 40)

# Count: Count occurrences of an element
print(my_tuple.count(20))  

# Index: Find position of first occurrence
print(my_tuple.index(30))

2
2

In [51]:
# Set
my_set = {10, 20, 30, 40}

# Add: Insert a single element
my_set.add(50)
print(my_set)  

# Update: Add multiple elements
my_set.update([60, 70])
print(my_set)  

# Remove: Remove an element (throws error if not found)
my_set.remove(20)
print(my_set) 

# Discard: Remove an element (no error if not found)
my_set.discard(100)  

# Pop: Remove a random element
print(my_set.pop())  

# Union: Combine two sets
set2 = {50, 60, 80}
print(my_set.union(set2))  

# Intersection: Common elements
print(my_set.intersection(set2)) 

# Difference: Elements in my_set but not in set2
print(my_set.difference(set2))  

# Symmetric Difference: Elements in either set but not both
print(my_set.symmetric_difference(set2))  

# Subset & Superset
print(my_set.issubset(set2))  
print(my_set.issuperset(set2))  

# Clear: Remove all elements
my_set.clear()
print(my_set)

{40, 10, 50, 20, 30}
{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 60, 30}
70
{80, 50, 40, 10, 60, 30}
{50, 60}
{40, 10, 30}
{40, 10, 80, 30}
False
False
set()

In [52]:
# Dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Get: Retrieve a value
print(my_dict.get('age'))  

# Keys: Get all keys
print(my_dict.keys())  

# Values: Get all values
print(my_dict.values())  

# Items: Get key-value pairs
print(my_dict.items())  

# Update: Merge another dictionary
my_dict.update({'country': 'USA'})
print(my_dict)  

# Pop: Remove a key and return its value
print(my_dict.pop('age')) 
print(my_dict)  

# Popitem: Remove and return a random (key, value) pair
print(my_dict.popitem())  

# Setdefault: Get value, or set default if key not found
print(my_dict.setdefault('gender', 'Female'))  
print(my_dict)  

# Copy: Create a shallow copy
new_dict = my_dict.copy()
print(new_dict)  

# Clear: Remove all elements
my_dict.clear()
print(my_dict)

25
dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])
{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}
25
{'name': 'Alice', 'city': 'New York', 'country': 'USA'}
('country', 'USA')
Female
{'name': 'Alice', 'city': 'New York', 'gender': 'Female'}
{'name': 'Alice', 'city': 'New York', 'gender': 'Female'}
{}

In [53]:
# Built-in Functions for All Collections
my_list = [10, 20, 30, 40, 50]
my_tuple = (5, 15, 25, 35)
my_set = {1, 3, 5, 7}
my_dict = {'a': 10, 'b': 20, 'c': 30}

# Length
print(len(my_list))  

# Min & Max
print(min(my_tuple))  
print(max(my_set))  

# Sum
print(sum(my_list)) 

# Sorted
print(sorted(my_set, reverse=True))  

# Any & All
print(any(my_list)) 
print(all(my_tuple))  

# Enumerate
for index, value in enumerate(my_list):
    print(index, value)

# Zip
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 95]
print(list(zip(names, scores)))

5
5
7
150
[7, 5, 3, 1]
True
True
0 10
1 20
2 30
3 40
4 50
[('Alice', 85), ('Bob', 90), ('Charlie', 95)]

 - Practice Question

In [54]:
#Q1. Create a list of 3 fruits and add a fourth fruit.

fruits = ["apple", "banana", "orange"]
fruits.append("grape")
print(fruits)

['apple', 'banana', 'orange', 'grape']

In [55]:
#Q2. Create a tuple with 2 numbers and print the first one.

numbers = (5, 10)
print(numbers[0])

5

In [56]:
#Q3. Create a set with 3 colors, add a duplicate, and print it.

colors = {"red", "blue", "green"}
colors.add("red")
print(colors)

{'red', 'green', 'blue'}

In [57]:
#Q4. Create a dictionary with keys "name" and "age" and print the age.

person = {"name": "Alice", "age": 25}
print(person["age"])

25

In [58]:
#Q5. Remove an item from a list of 5 numbers.

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

### File Handling

Python can read/write files using open() with modes: 
 - "r" (read)
 - "w" (write)
 - "a" (append).

In [59]:
# Writing to a file
with open("test.txt", "w") as file:
    file.write("Hello, Python!")

In [60]:
# Reading from a file
with open("test.txt", "r") as file:
    content = file.read()
    print(content)

Hello, Python!

In [61]:
# Appending to a file
with open("test.txt", "a") as file:
    file.write("\nMore text")
with open("test.txt", "r") as file:
    print(file.read())

Hello, Python!
More text

 - Practice Question

In [62]:
#Q1. Write "Learning Python" to a file named "notes.txt".

with open("notes.txt", "w") as file:
    file.write("Learning Python")

In [63]:
#Q2. Read and print the content of "notes.txt".

with open("notes.txt", "r") as file:
    print(file.read())

Learning Python

In [64]:
#Q3. Append " is fun!" to "notes.txt" and print the updated content.

with open("notes.txt", "a") as file:
    file.write(" is fun!")
with open("notes.txt", "r") as file:
    print(file.read())

Learning Python is fun!

In [65]:
#Q4. Write a list of 3 names to a file "names.txt", one per line.

names = ["Alice", "Bob", "Charlie"]
with open("names.txt", "w") as file:
    for name in names:
        file.write(name + "\n")

In [66]:
#Q5. Read "names.txt" and print each line.

with open("names.txt", "r") as file:
    for line in file:
        print(line.strip())

Alice
Bob
Charlie

### Object-Oriented Programming

#### Classes and Objects
 - A class is a blueprint for creating objects. An object is an instance of a class.
 - Classes define attributes (data) and methods (functions) that the objects can use.

In [67]:
class Dog:
    def __init__(self, name):  # Constructor
        self.name = name       # Attribute
    def bark(self):            # Method
        print(f"{self.name} says Woof!")

my_dog = Dog("Buddy")  # Object creation
my_dog.bark()          # Calling method

Buddy says Woof!

#### Attributes and Methods
 - Attributes: Variables that belong to an object or class (e.g., self.name).
 - Methods: Functions defined within a class that operate on the object’s data.

In [68]:
class Car:
    def __init__(self, color, speed):
        self.color = color    # Instance attribute
        self.speed = speed
    def accelerate(self):
        self.speed += 10
        print(f"The {self.color} car’s speed is now {self.speed}")

car = Car("Blue", 50)
car.accelerate()

The Blue car’s speed is now 60

#### Inheritance

 - Basic Inheritance :- 
A subclass inherits all attributes and methods from a parent class. You define it by specifying the parent class in parentheses after the subclass name.

In [69]:
class Animal:
    def __init__(self, name):
        self.name = name
    def speak(self):
        print("Generic animal sound")

class Dog(Animal):  # Dog inherits from Animal
    pass

dog = Dog("Buddy")
print(dog.name)   
dog.speak()

Buddy
Generic animal sound

 - Method Overriding :-
A subclass can redefine (override) a method from the parent class to provide a specific implementation.

In [70]:
class Animal:
    def speak(self):
        print("Some sound")

class Cat(Animal):
    def speak(self):  # Overrides the parent method
        print("Meow")

cat = Cat()
cat.speak()

Meow

 - Using super() :-
The super() function allows a subclass to call methods (or the constructor) of the parent class, enabling extension rather than full replacement.

In [71]:
class Person:
    def __init__(self, name):
        self.name = name
    def describe(self):
        return f"I am {self.name}"

class Student(Person):
    def __init__(self, name, grade):
        super().__init__(name)  # Call parent’s __init__
        self.grade = grade
    def describe(self):
        return f"{super().describe()}, a student with grade {self.grade}"

student = Student("Alice", "A")
print(student.describe())

I am Alice, a student with grade A

 - Multiple Inheritance :-
A class can inherit from multiple parent classes. Python resolves method conflicts using the Method Resolution Order (MRO).

In [72]:
class Flyer:
    def fly(self):
        print("I can fly")

class Swimmer:
    def swim(self):
        print("I can swim")

class Duck(Flyer, Swimmer):  # Inherits from both Flyer and Swimmer
    pass

duck = Duck()
duck.fly()   
duck.swim()

I can fly
I can swim

In [73]:
#MRO Example:

class A:
    def show(self):
        print("A")

class B(A):
    def show(self):
        print("B")

class C(A):
    def show(self):
        print("C")

class D(B, C):  # Multiple inheritance
    pass

d = D()
d.show()  
print(D.__mro__)

B
(<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>)

 - Multilevel Inheritance :-
A class inherits from a subclass, creating a chain of inheritance (e.g., Grandparent → Parent → Child).

In [74]:
class Vehicle:
    def move(self):
        print("Vehicle moves")

class Car(Vehicle):
    def drive(self):
        print("Car drives")

class SportsCar(Car):  # Inherits from Car, which inherits from Vehicle
    def race(self):
        print("Sports car races")

sports_car = SportsCar()
sports_car.move()  
sports_car.drive() 
sports_car.race()

Vehicle moves
Car drives
Sports car races

 - Hierarchical Inheritance :-
Multiple subclasses inherit from the same parent class, forming a tree-like structure.

In [75]:
class Shape:
    def __init__(self, color):
        self.color = color

class Circle(Shape):
    def draw(self):
        print(f"Drawing a {self.color} circle")

class Square(Shape):
    def draw(self):
        print(f"Drawing a {self.color} square")

circle = Circle("Red")
square = Square("Blue")
circle.draw()  
square.draw()

Drawing a Red circle
Drawing a Blue square

 - Hybrid Inheritance :-
A combination of multiple and multilevel inheritance. It can get complex, and Python uses MRO to resolve conflicts.

In [76]:
class Animal:
    def speak(self):
        print("Animal sound")

class Mammal(Animal):
    def walk(self):
        print("Mammal walks")

class Bird(Animal):
    def fly(self):
        print("Bird flies")

class Bat(Mammal, Bird):  # Hybrid: inherits from Mammal and Bird, both inherit from Animal
    pass

bat = Bat()
bat.speak() 
bat.walk()   
bat.fly()

Animal sound
Mammal walks
Bird flies

 - Overriding Attributes :-
A subclass can override parent class attributes by redefining them.

In [77]:
class Parent:
    message = "Hello from Parent"

class Child(Parent):
    message = "Hello from Child"  # Overrides parent attribute

child = Child()
print(child.message)

Hello from Child

#### Polymorphism

Polymorphism allows different classes to be treated as instances of the same superclass, often through method overriding. It means "many forms."

In [78]:
class Bird:
    def speak(self):
        print("Chirp")

class Dog:
    def speak(self):
        print("Woof")

def make_animal_speak(animal):
    animal.speak()

bird = Bird()
dog = Dog()
make_animal_speak(bird)  
make_animal_speak(dog)

Chirp
Woof

#### Encapsulation

Encapsulation restricts direct access to some of an object’s components, typically by making attributes private using a single (_) or double (__) underscore. It’s about data hiding and protection.

In [79]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance  # Private attribute
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
    def get_balance(self):
        return self.__balance

account = BankAccount(100)
account.deposit(50)
print(account.get_balance()) 
# print(account.__balance)  # AttributeError: No direct access

150